@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>temp-2</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/allTemp2.css" />
    <link rel="stylesheet" href="~/css/my-css.css" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- start header -->
    <header>
      <div class="container">
        <nav>
          <div class="logo">
            <img src="~/img/logo.png" alt="logo" />
          </div>
          <ul>
            <li><a href="#HOME">HOME</a></li>
            <li><a href="#SERVICES">SERVICES</a></li>
            <li><a href="#PORTFOLIO">PORTFOLIO</a></li>
            <li><a href="#ABOUT">ABOUT</a></li>
            <li><a href="#PRICING">PRICING</a></li>
            <li><a href="#CONTACT">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- end header -->
    <!-- start landing -->
    <div class="landing">
      <div class="black"></div>
      <div class="hello">
        <div>
          <h3>
            Hello World!<br />
            We Are Kasper We Make Art.
          </h3>
          <p>
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a
            Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem
            Mauris blandit aliquet elit, eget tincidunt.
          </p>
        </div>
      </div>
    </div>
    <!-- end landing -->
    <!-- start SERVICES -->
    <section class="services">
      <div class="container">
        <div class="header">
          <h2>SERVICES</h2>
          <p>
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem
            Mauris blandit aliquet elit, eget tincidunt
          </p>
        </div>
        <div class="cards">
          <div class="card1">
            <h3>Vorem amet intuitive</h3>
            <p>
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a
              Curabitur aliquet quam.
            </p>
            <i class="fas fa-cog fa-3x"></i>
          </div>
          <div class="card2">
            <h3>Vorem amet intuitive</h3>
            <p>
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a
              Curabitur aliquet quam.
            </p>
            <i class="fas fa-cog fa-3x"></i>
          </div>
          <div class="card3">
            <h3>Vorem amet intuitive</h3>
            <p>
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a
              Curabitur aliquet quam.
            </p>
            <i class="fas fa-cog fa-3x"></i>
          </div>
          <div class="card4">
            <h3>Vorem amet intuitive</h3>
            <p>
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a
              Curabitur aliquet quam.
            </p>
            <i class="fas fa-cog fa-3x"></i>
          </div>
        </div>
      </div>
    </section>
    <!-- end SERVICES -->
    <!-- start design -->
    <section class="design">
      <div class="black"></div>
      <div class="mobile">
        <img src="~/img/mobile.png" alt="" />
      </div>
      <div class="o-design">
        <h2>OUR DESIGN COMES WITH...</h2>
        <ul>
          <li>Responsive Design</li>
          <li>Modern And Clean Design</li>
          <li>Clean Code</li>
          <li>Browser Friendly</li>
        </ul>
      </div>
    </section>
    <!-- end design -->
    <!-- start PORTFOLIO -->
    <section class="PORTFOLIO">
      <div class="container">
        <div class="header">
          <h2>PORTFOLIO</h2>
          <p>
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem
            Mauris blandit aliquet elit, eget tincidunt
          </p>
        </div>
        <div class="options">
          <ul>
            <li class="all">All</li>
            <li>All</li>
            <li>All</li>
            <li>All</li>
            <li>All</li>
          </ul>
        </div>
      </div>
      <div class="boxs">
        <div class="box">
          <img src="~/img/shuffle-01.jpg" alt="" />
          <div class="texet">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="box">
          <img src="~/img/shuffle-02.jpg" alt="" />
          <div class="texet">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="box">
          <img src="~/img/shuffle-03.jpg" alt="" />
          <div class="texet">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="box">
          <img src="~/img/shuffle-04.jpg" alt="" />
          <div class="texet">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="box">
          <img src="~/img/shuffle-05.jpg" alt="" />
          <div class="texet">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="box">
          <img src="~/img/shuffle-06.jpg" alt="" />
          <div class="texet">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="box">
          <img src="~/img/shuffle-07.jpg" alt="" />
          <div class="texet">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="box">
          <div class="hov">
            <img src="~/img/shuffle-08.jpg" alt="" />
          </div>
          <div class="texet">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
      </div>
      <button>more</button>
    </section>
    <!-- end PORTFOLIO -->
    <!-- start video -->
    <div class="video">
      <video src="~/video/Video.mp4" autoplay loop></video>
      <div class="v-text">
        <h2>SUPER AWESOME VIDEO HERE</h2>
        <p>Its All You Need</p>
        <button>SEE MORE</button>
      </div>
    </div>
    <!-- end video -->
    <!-- start about -->
    <section class="about">
      <div class="container">
        <div class="header">
          <h2>ABOUT US</h2>
          <p>
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem
            Mauris blandit aliquet elit, eget tincidunt
          </p>
        </div>
        <div class="a-img">
          <img src="~/img/Temp2about.png" alt="" />
        </div>
      </div>
    </section>
    <!-- end about -->
  </body>
</html>
